
.bg-danger{
  background: linear-gradient(45deg,darkslategray, red);
}
.bg-warning{
  background: linear-gradient(45deg,darkslategray,orange);
}
.bg-success{
  background: linear-gradient(45deg,darkslategray,limegreen);
}
.bg-info{
  background: linear-gradient(45deg,darkslategray,cornflowerblue);
}
.bg-secondary{
  background: linear-gradient(45deg,darkslategray,purple);
}

.btn-secondary{
  background: linear-gradient(45deg, darkslategray, purple);
}